@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #F8FAFC;
    color: #1E293B;
}

strong {
    color: #13bd76;
}

header h1 {
    text-align: center;
    font-size: 2.5em;
}

header p {
    text-align: center;
    font-size: 1.7em;
}

#imagem1 {
    text-align: center;
}

main {
    text-align: center;
}




